node_modules
.DS_Store
dist
dist-ssr
*.local
.vite-ssg-dist
.vite-ssg-temp
.idea/
*.log
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.local
.env.*.local